/* Default Columns mobile view */
.columns > div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

/* Columns variants(products, benefits) mobile view */
.columns.products p > strong {
  color: #16929c;
}

.columns.products .product-name {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 80px;
}

.columns.products .product-name .icon {
  display: flex;
  align-items: center;
  width: 60px;
  height: 55px;
  min-width: fit-content;
  font-size: 60px;
  color: #16929c;
}

.columns.products .product-name picture {
  width: 60px;
  height: 55px;
}

.columns.products h3 {
  all: unset;
  font-size: 28px;
  font-weight: 400;
  line-height: 1;
}

.columns.products h3 strong {
  font-weight: 700;
  text-wrap: nowrap;
}

.columns.products h3 a {
  color: black;
}

.columns.products .product-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 14px;
  line-height: 18px;
  color: #485560;
}

.columns.products > div > div {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  padding: 15px;
}

.columns.products > div.active {
  border: 3px solid #16929c;
  border-radius: 20px;
}

.columns.products .btn-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.columns.products .btn-group .button {
  overflow: unset;
}

.columns.benefits .title {
  display: flex;
  align-items: center;
  gap: 20px;
}

.columns.benefits .title .icon {
  width: 50px;
  height: 50px;
}

.columns.benefits .title h3 {
  all: unset;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #16929c;
}

.columns.benefits .description {
  display: none;
}

/* Tablet View */
@media (width > 62rem) {
  /* Default column tablet view */
  .columns > div {
    flex-direction: unset;
    gap: 24px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }

  /* Columns variants tablet view */
  .columns.products,
  .columns.benefits {
    display: flex;
    justify-content: space-between;
  }

  .columns.products > div {
    position: relative;
  }

  .columns.products > div > div {
     padding-inline: 15px;
     max-width: 217.5px;
  }

  .columns.benefits > div > div {
    max-width: 270px;
  }

  .columns.products h3 {
    font-size: 20px;
  }

  .columns.products .product-name .icon {
     font-size: 55px;
  }

  .columns.products > div:not(.no-separator) {
    background: url('../../images/bg-products-divider.png') no-repeat 99% 50%;
  }

  .columns.products .product-description {
    min-height: 262px;
  }

  .columns.products .btn-group {
    gap: 5px;
  }

  .columns.benefits .description {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    font-size: 14px;
    line-height: 18px;
    color: #485560;
    text-align: center;
  }

  .columns.benefits .description::before {
    content: '';
    border-bottom: 1px solid #16929c;
    margin-bottom: 20px;
  }
}

/* Desktop view */
@media (width > 75rem) {
  /* Variants */
  .columns.products > div > div {
    max-width: 277.5px;
  }

  .columns.products .product-description {
    min-height: 230px;
  }

  .columns.benefits > div > div {
    max-width: 350px;
  }
}
