.columns > div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

/* View >= 991px */
@media (width >= 62rem) {
  .columns > div {
    flex-direction: unset;
    gap: 1.5rem; /* 24px */
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }
}
