.columns > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.columns img {
  width: 100%;
}

.columns h1,
.columns h2,
.columns h3,
.columns h4,
.columns h5,
.columns h6 {
  color: var(--dark-color);
}

.columns p {
  font-size: 1rem;
}

.columns > div > .columns-img-col img {
  display: block;
}

.columns h2 {
  font-size: var(--heading-font-size-xxl);
}

/* View >= 991px */
@media (width >= 48rem) {
  .columns > div {
    flex-direction: unset;
  }

  .columns h2 {
    font-size: var(--heading-font-size-xl);
  }
}
