.block.button-stack li a {
  font-size: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 1rem;
  margin-bottom: 0.0625rem;
  border-radius: 0;
  padding: 0.5rem 0.5rem 0.5rem 1.75rem;
}

.block.button-stack li:first-child a {
  border-radius: 0.37rem 0.37rem 0 0;
}

.block.button-stack li:last-child a {
  border-radius: 0 0 0.37rem 0.37rem
}