.centered-title {
  display: flex;
  justify-content: center;
}

.centered-title h2 {
  font-weight: var(--font-weight-bold);
  font-size: var(--heading-font-size-xl);
  text-align: center;
}

.centered-title strong {
  color: var(--teal);
}