/* General styles */

/* Block level styles */
.text-image *, .text-image *::before, .text-image *::after {
    box-sizing: border-box;
}

.text-image-container {
    margin-bottom: -2.5rem;
}

.text-image {
    background-color: var(--teal);
    display: flex;
    flex-direction: column;
    margin-bottom: 1.875rem;

}

.text-image h2 {
    font-size: 1.375rem;
    color: var(--white);
    margin: 0 0 0.938rem;
    font-weight: var(--font-weight-bold);
    padding: 0.935rem 0 0 0.935rem;
}

.text-image h2 span {
    font-weight: normal;
    font-size: 1rem;
}

.text-image a.button:any-link {
    margin: 0 0 0.935rem 0.935rem;
    width: 6.125rem; /* Set width */
    height: 2.625rem; /* Set height */
    font-size: 0.875rem;
}


.text-image picture:nth-of-type(1) {
    display: block; /* Show first picture by default */
    max-width: 100%;
    height: auto;
    order: -1;
}

.text-image picture:nth-of-type(2) {
    display: none; /* Hide second picture by default */
}

/* Media query styles */
@media (width >= 48rem) {
    .text-image-container {
        margin-bottom: -2.375rem;
    }

    .text-image {
        background-color: transparent;
        position: relative;
    }

    .text-image h2 {
        font-size: 2rem;
        width: 50%;
        padding: 1.875rem 0 0 1.875rem;
    }

    .text-image h2 span {
        font-size: 1.375rem;
    }

    .text-image picture:nth-of-type(1) {
        display: none; /* Hide the first picture */
    }

    .text-image picture:nth-of-type(2) {
        display: block; /* Ensure the second picture is visible */
        position: absolute;
        z-index: -1;
        inset: 0;
    }

    .text-image picture:nth-of-type(2) img {
        height: 100%;
        object-fit: cover;
        object-position: 80% 50%
    }

    .text-image a.button:any-link {
        margin: 0 0 1.873rem 1.873rem;
        width: 6.125rem; /* Set width */
        height: 2.625rem; /* Set height */
        font-size: 0.875rem;
    }
}

@media (width >= 62rem) {
    .text-image picture:nth-of-type(2) img {
        width: 100%;
    }

}