/* General styles */

/* Block level styles */
.text-image *, .text-image *::before, .text-image *::after {
    box-sizing: border-box;
}

.text-image {
    margin-right: auto;
    margin-left: auto;
    padding-left: 0.938rem;
    padding-right: 0.938rem;
}

.text-image .banner-chinese {
    background-color: var(--teal);
    display: flex;
    flex-direction: column;
    margin-bottom: 1.875rem;
}

.text-image .banner-chinese .text {
    width: 100%; /* Adjust as needed */
    order: 2;
    padding: 0.938rem;
}

.text-image .banner-chinese .image {
    width: 100%; /* Adjust as needed */
    order: 1;
}

.text-image .banner-chinese .text h2 {
    font-size: 1.375rem;
    color: var(--white);
    margin: 0 0 0.938rem;
    font-weight: var(--font-weight-bold);
}

.text-image .banner-chinese h2 span {
    font-weight: normal;
    font-size: 1rem;
}

.text-image .banner-chinese a.button:any-link {
    width: auto;
    display: inline-block;
    padding: 0.313rem 1.25rem;
}

/* Media query styles */

@media (width >= 48rem) {
    .text-image .banner-chinese {
        flex-direction: row;
        background: var(--teal) url("../images/media_158e15347a96eb028f0ca05ae23a4c45538656560.jpeg") no-repeat;
        background-size: cover;
        background-position: 80% 50%;
        margin-left: -0.938rem;
        margin-right: -0.938rem;
    }

    .text-image .banner-chinese .text {
        width: 50%;
        order: 1;
        padding: 1.875rem;
        padding-right: 0;
    }

    .text-image .banner-chinese .text h2 {
        font-size: 2rem;
    }

    .text-image .banner-chinese .text h2 span {
        font-size: 1.375rem;
    }

    .text-image-container .banner-chinese .image {
        display: none;
    }
}

@media (width >= 62rem) {
    .text-image-container .banner-chinese {
        flex-direction: row;
        background: var(--teal) url("../images/media_158e15347a96eb028f0ca05ae23a4c45538656560.jpeg") no-repeat;
        background-size: cover;
        background-position: 80% 50%;
        margin-left: -0.938rem;
        margin-right: -0.938rem;
    }

    .text-image-container .banner-chinese .text {
        width: 50%;
        order: 1;
        padding: 1.875;
        padding-right: 0;
    }

    .text-image-container .banner-chinese .text h2 {
        font-size: 2rem;
    }

    .text-image-container .banner-chinese .text h2 span {
        font-size: 1.375rem;
    }

    .text-image-container .banner-chinese .image {
        width: 50%;
        order: 2;
        display: none;
    }
}