.image-with-link img {
    max-width: 100%;
    height: 100%;
    margin: 0 auto;
    display: block;
}

.image-with-link .desktop-image {
    display: none;
}

@media (width >= 48rem) {
    .image-with-link .mobile-image {
        display: none;
    }

    .image-with-link .desktop-image {
        display: unset;
    }
}