/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

:root {
  /* core colors */
  --white: white;
  --light-color: #f1edec;
  --light-silver: #bbb;
  --text-color: #485560;
  --dark-color: #3b3934;
  --black: black;
  --light-gray-color: #dedfe1;

  /* brand colors */
  --orange: #e05804;
  --teal: #16929c;
  --teal-deep-light: #aee5ea;
  --teal-light: #e4f6f8;
  --teal-dark: #016c7e;
  --purple-light: #485583;
  --white-smoke: #f5f5f5;
  --teal-medium: #01909e;
  --gray-light: #E5E4E2;

  /* common color usage */
  --link-color: var(--teal);
  --link-hover-color: var(--teal-dark);
  --background-color: var(--white);

  /* button colors */
  --standard-btn: #e4e2e5;
  --standard-btn-light: #f7f7f7;
  --standard-btn-dark: #cfd1d0;
  --orange-btn: #dd581b;
  --orange-btn-light: #eb7020;
  --orange-btn-dark: #ed4000;
  --dark-btn: #171a19;
  --dark-btn-light: #445252;
  --dark-btn-dark: #1e2424;

  /* fonts */
  --body-font-family: "Helvetica Neue", helvetica, arial, sans-serif;
  --heading-font-family: "Helvetica Neue", helvetica, arial, sans-serif;

  /* body sizes */
  --body-font-size-m: 0.75rem;
  --body-font-size-s: 0.75rem;

  /* font weights */
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  /* heading sizes */
  --heading-font-size-xxl: 1.5rem;
  --heading-font-size-xl: 1.25rem;
  --heading-font-size-l: 1.125rem;
  --heading-font-size-mxl: 0.9375rem;
  --heading-font-size-ml: 0.909rem;
  --heading-font-size-m: 0.875rem;
  --heading-font-size-ms: 0.8125rem;
  --heading-font-size-s: 0.75rem;
  --heading-font-size-xs: 0.6875rem;
  --heading-font-size-xss: 0.625rem;

  /* nav height */
  --nav-height: 4rem;
}

@media (width >= 62rem) {
  :root {
    /* body sizes */
    --body-font-size-m: 0.875rem;
    --body-font-size-s: 0.75rem;

    /* heading sizes */
    --heading-font-size-xxl: 2.1875rem;
    --heading-font-size-xl: 1.75rem;
    --heading-font-size-l: 1.375rem;
    --heading-font-size-m: 1rem;
    --heading-font-size-s: 0.875rem;
    --heading-font-size-xs: 0.75rem;
  }
}

/*
 * general
 */
body {
  display: none;
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--body-font-family);
  font-size: var(--body-font-size-m);
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
}

body.appear {
  display: block;
}

header {
  height: var(--nav-height);
}

header .header,
footer .footer {
  visibility: hidden;
}

header .header[data-block-status="loaded"],
footer .footer[data-block-status="loaded"] {
  visibility: visible;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0.8rem;
  margin-bottom: 0.25rem;
  font-family: var(--heading-font-family);
  font-weight: var(--font-weight-medium);
  line-height: 1.1;
  scroll-margin: 2.5rem;
}

h1 {
  font-size: var(--heading-font-size-xxl);
}

h2 {
  font-size: var(--heading-font-size-xl);
}

h3 {
  font-size: var(--heading-font-size-l);
}

h4 {
  font-size: var(--heading-font-size-m);
}

h5 {
  font-size: var(--heading-font-size-s);
}

h6 {
  font-size: var(--heading-font-size-xs);
}

p,
dl,
ol,
ul,
pre,
blockquote {
  margin-top: 0.8rem;
  margin-bottom: 0.25rem;
}

ul {
  list-style-type: none;
  padding: 0;
}

code,
pre {
  font-size: var(--body-font-size-s);
}

pre {
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: var(--light-color);
  overflow-x: auto;
  white-space: pre;
}

input,
textarea,
select,
button {
  font: inherit;
}

/*
 * links
 */
a:any-link {
  color: var(--link-color);
  text-decoration: none;
  word-break: break-word;
}

a:hover {
  color: var(--link-hover-color);
  text-decoration: underline;
}

/*
 * buttons
 */
a.button:any-link,
button {
  box-sizing: border-box;
  display: inline-block;
  font-family: var(--body-font-family);
  font-style: normal;
  font-weight: var(--font-weight-bold);
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* standard button */
main a.button:any-link,
main button {
  width: 100%;
  padding: 0.3125rem;
  line-height: 1.875rem;
  border-radius: 0.1875rem;
  color: var(--text-color);
  border: 1px solid var(--standard-btn-dark);
  background: var(--standard-btn);
  background: linear-gradient(var(--standard-btn-light), var(--standard-btn));
}

main a.button:any-link:hover,
main a.button:any-link:focus,
main button:hover,
main button:focus {
  cursor: pointer;
  background: var(--standard-btn-dark);
  background: linear-gradient(var(--standard-btn-dark), var(--standard-btn-light));
}

/* orange button */
main a.button.orange,
main button.orange {
  color: var(--white);
  border: 1px solid var(--orange-btn);
  background: var(--orange-btn);
  background: linear-gradient(var(--orange-btn-light), var(--orange-btn));
}

main a.button.orange:any-link:hover,
main a.button.orange:any-link:focus,
main button.orange:hover,
main button.orange:focus {
  cursor: pointer;
  background: var(--orange-btn-dark);
  background: linear-gradient(var(--orange-btn-dark), var(--orange-btn-light));
}

/* dark button */
main a.button.dark,
main button.dark {
  color: var(--white);
  border: 1px solid var(--dark-btn);
  background: var(--dark-btn);
  background: linear-gradient(var(--dark-btn-light), var(--dark-btn));
}

main a.button.dark:any-link:hover,
main a.button.dark:any-link:focus,
main button.dark:hover,
main button.dark:focus {
  cursor: pointer;
  background: var(--dark-btn-dark);
  background: linear-gradient(var(--dark-btn-dark), var(--black));
}

/* shared styles */
main a.button:any-link:active,
main button:active {
  box-shadow: inset 0 3px 5px rgba(0 0 0 / 20%);
}

main button:disabled,
main button:disabled:hover {
  opacity: 0.5;
  cursor: unset;
}

/*
 * images & icons
 */
main img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.icon {
  display: inline-block;
  height: 1.5rem;
  width: 1.5rem;
}

.icon img {
  height: 100%;
  width: 100%;
}

/*
 * sections
 */
main .section,
footer .footer {
  margin-right: auto;
  margin-left: auto;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}

main .section.full-width {
  max-width: 100%;
  padding-left: unset;
  padding-right: unset;
}

/* section metadata */
main .section.light,
main .section.highlight {
  background-color: var(--light-color);
  margin: 0;
  padding: 2.5rem 0;
}

@media (width >= 48rem) {
  main .section,
  footer .footer {
    max-width: 45.25rem;
  }
}

@media (width >= 62rem) {
  main .section,
  footer .footer {
    max-width: 61.875rem;
  }
}

@media (width >= 75rem) {
  main .section,
  footer .footer {
    max-width: 76.875rem;
  }
}

main .section.benefits-background-plain {
  padding-block: 3.125rem; /* 50px */
  background: url('../images/benefits-background-plain.jpg') 50% 0 no-repeat;
}

/* mobile only style */
@media (width <= 48rem) {
  main .section.mobile-background-teal {
    padding-block: 0.94rem; /* 15px */
    background: url('../images/mobile-bottom-border.jpg') 50% 0 no-repeat;
  }
}

