/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

:root {
  /* core palette */
  --white: white;
  --white-smoke: #f5f5f5;
  --light-color: #f1edec;
  --gray-light: #e5e4e2;
  --gray-middle: #dedfe1;
  --very-light-gray: #cecece;
  --gray-dark: #bbb;
  --text-color: #485560;
  --dark-color: #3b3934;
  --black: black;

  /* brand palette */
  --teal: #16929c;
  --teal-mid-light: #cdecef;
  --teal-light: #e4f6f8;
  --teal-light-alt: #cdecef;
  --teal-mid: #ccecef;
  --teal-dark: #016c7e;
  --teal-dark-alt: #10737b;
  --orange: #e05804;
  --purple: #485583;
  --purple-light: #3e4487;
  --ivory-gray: #e3e2dd;
  --pale-aqua: #cdecef;
  --teal-blue: #4f7faa;
  --sky-blue: #6199bc;
  --snow-white: #fafafa;
  --cloud-white: #fbfbfb;
  --silver-mist: #e8e8e8;

  /* global color usage */
  --link-color: var(--teal);
  --link-hover-color: var(--teal-dark);
  --background-color: var(--white);
  --gray-background-color: #f3f3f3;

  /* button colors */
  --standard-btn: #e4e2e5;
  --standard-btn-light: #f7f7f7;
  --standard-btn-dark: #cfd1d0;
  --orange-btn: #dd581b;
  --orange-btn-light: #eb7020;
  --orange-btn-dark: #ed4000;
  --dark-btn: #171a19;
  --dark-btn-light: #445252;
  --dark-btn-dark: #1e2424;

  /* fonts */
  --body-font-family: "Helvetica Neue", helvetica, arial, sans-serif;
  --heading-font-family: "Helvetica Neue", helvetica, arial, sans-serif;

  /* body sizes */
  --body-font-size-l: 0.875rem;
  --body-font-size-m: 0.75rem;
  --body-font-size-s: 0.75rem;

  /* font weights */
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  /* heading sizes */
  --heading-font-size-xxl: 1.5rem;
  --heading-font-size-xl: 1.25rem;
  --heading-font-size-l: 1.125rem;
  --heading-font-size-mxxl: 1rem;
  --heading-font-size-mxl: 0.9375rem;
  --heading-font-size-ml: 0.909rem;
  --heading-font-size-m: 0.875rem;
  --heading-font-size-ms: 0.8125rem;
  --heading-font-size-s: 0.75rem;
  --heading-font-size-xs: 0.6875rem;
  --heading-font-size-xss: 0.625rem;

  /* nav height */
  --nav-brand-bar: 6.875rem;
  --nav-menu-bar: 4.3125rem;
  --nav-height-desktop: calc(var(--nav-brand-bar) + var(--nav-menu-bar));
  --nav-height-mobile: 4.375rem;
}

@media (width >= 62rem) {
  :root {
    /* body sizes */
    --body-font-size-m: 0.8125rem;
    --body-font-size-s: 0.75rem;

    /* heading sizes */
    --heading-font-size-xxl: 2.1875rem;
    --heading-font-size-xl: 1.75rem;
    --heading-font-size-l: 1.375rem;
    --heading-font-size-m: 1rem;
    --heading-font-size-s: 0.875rem;
    --heading-font-size-xs: 0.75rem;
  }
}

/*
 * general
 */
body {
  display: none;
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--body-font-family);
  font-size: var(--body-font-size-m);
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
}

body.appear {
  display: block;
}

header {
  min-height: var(--nav-height-mobile);
}

@media (width >= 48rem) {
  header {
    min-height: var(--nav-height-desktop);
  }
}

header .header,
footer .footer {
  visibility: hidden;
}

header .header[data-block-status="loaded"],
footer .footer[data-block-status="loaded"] {
  visibility: visible;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0.8rem;
  margin-bottom: 0.25rem;
  font-family: var(--heading-font-family);
  font-weight: var(--font-weight-medium);
  line-height: 1.1;
  scroll-margin: 2.5rem;
}

h1 {
  font-size: var(--heading-font-size-xxl);
}

h2 {
  font-size: var(--heading-font-size-xl);
}

h3 {
  font-size: var(--heading-font-size-l);
}

h4 {
  font-size: var(--heading-font-size-m);
}

h5 {
  font-size: var(--heading-font-size-s);
}

h6 {
  font-size: var(--heading-font-size-xs);
}

p,
dl,
ol,
ul,
pre,
blockquote {
  margin-top: 0.8rem;
  margin-bottom: 0.25rem;
}

ul {
  list-style-type: none;
  padding: 0;
}

code,
pre {
  font-size: var(--body-font-size-s);
}

pre {
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: var(--light-color);
  overflow-x: auto;
  white-space: pre;
}

input,
textarea,
select,
button {
  font: inherit;
}

.hidden {
  display: none;
}

/*
 * links
 */
a:any-link {
  color: var(--link-color);
  text-decoration: none;
  word-break: break-word;
}

a:hover {
  color: var(--link-hover-color);
  text-decoration: underline;
}

/*
 * buttons
 */
a.button:any-link,
button {
  box-sizing: border-box;
  display: inline-block;
  font-family: var(--body-font-family);
  font-style: normal;
  font-weight: var(--font-weight-bold);
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* standard button */
main a.button:any-link,
main button {
  width: 100%;
  padding: 0.3125rem;
  line-height: 1.875rem;
  border-radius: 0.1875rem;
  color: var(--text-color);
  border: 1px solid var(--standard-btn-dark);
  background: var(--standard-btn);
  background: linear-gradient(var(--standard-btn-light), var(--standard-btn));
}

main a.button:any-link:hover,
main a.button:any-link:focus,
main button:hover,
main button:focus {
  cursor: pointer;
  background: var(--standard-btn-dark);
  background: linear-gradient(var(--standard-btn-dark), var(--standard-btn-light));
}

/* orange button */
main a.button.orange,
main button.orange {
  color: var(--white);
  border: 1px solid var(--orange-btn);
  background: var(--orange-btn);
  background: linear-gradient(var(--orange-btn-light), var(--orange-btn));
}

main a.button.orange:any-link:hover,
main a.button.orange:any-link:focus,
main button.orange:hover,
main button.orange:focus {
  cursor: pointer;
  background: var(--orange-btn-dark);
  background: linear-gradient(var(--orange-btn-dark), var(--orange-btn-light));
}

/* dark button */
main a.button.dark,
main button.dark {
  color: var(--white);
  border: 1px solid var(--dark-btn);
  background: var(--dark-btn);
  background: linear-gradient(var(--dark-btn-light), var(--dark-btn));
}

main a.button.dark:any-link:hover,
main a.button.dark:any-link:focus,
main button.dark:hover,
main button.dark:focus {
  cursor: pointer;
  background: var(--dark-btn-dark);
  background: linear-gradient(var(--dark-btn-dark), var(--black));
}

/* shared styles */
main a.button:any-link:active,
main button:active {
  box-shadow: inset 0 3px 5px rgba(0 0 0 / 20%);
}

main button:disabled,
main button:disabled:hover {
  opacity: 0.5;
  cursor: unset;
}

/*
 * images & icons
 */
main img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.icon {
  display: inline-block;
  height: 1.5rem;
  width: 1.5rem;
}

.icon img {
  height: 100%;
  width: 100%;
}

/*
 * sections
 */
main .section {
  padding-top: 2.3rem;
  padding-bottom: 2.3rem;
}

main .section,
footer .footer,
header .header-section {
  margin-right: auto;
  margin-left: auto;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}

main .section.full-width {
  max-width: 100%;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: unset;
  padding-right: unset;
}

main .section.no-margin {
  padding-top: unset;
  padding-bottom: unset;
}

@media (width >= 48rem) {
  main .section,
  footer .footer,
  header .header-section {
    max-width: 45.25rem;
  }
}

@media (width >= 62rem) {
  main .section,
  footer .footer,
  header .header-section {
    max-width: 61.875rem;
  }
}

@media (width >= 75rem) {
  main .section,
  footer .footer,
  header .header-section {
    max-width: 76.875rem;
  }
}

main .section.mobile-background-teal {
  padding-block: 0.94rem; /* 15px */
  background: url('../images/mobile-bottom-border.jpg') 50% 0 no-repeat;
}

main .section.desktop-only {
  display: none;
}

main .section.page-heading {
  padding-top: 1.7rem;
  padding-bottom: 1.7rem;
  background-color: var(--teal-light-alt);
  position: relative;
}

main .section.page-heading::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: 50%;
  width: 100vw;
  height: 100%;
  transform: translate(50%, -50%);
  z-index: -1;
  background: inherit;
}

main .page-heading h1 {
  margin: 0;
  font-weight: var(--font-weight-bold);
  color: var(--dark-color);
}

main .section.centered-title .default-content-wrapper h1,
main .section.centered-title .default-content-wrapper h2,
main .section.centered-title .default-content-wrapper h3,
main .section.centered-title .default-content-wrapper h4,
main .section.centered-title .default-content-wrapper h5,
main .section.centered-title .default-content-wrapper h6 {
  font-weight: var(--font-weight-bold);
  font-size: var(--heading-font-size-xl);
  text-align: center;
}

main .section.centered-title .default-content-wrapper strong {
  color: var(--teal);
}

/* mobile-specific section styles */
@media (width >= 48rem) {
  main .section.benefits-background-plain {
    padding-block: 3.125rem; /* 50px */
    background: url('../images/benefits-background-plain.jpg') 50% 0 no-repeat;
  }

  main .section.mobile-only {
    display: none;
  }

  main .section.desktop-only {
    display: block;
  }

  main .section.page-heading h1 {
    font-size: 2.1875rem;
  }
}

/* tabs style */
main .tabs-group > .section {
  padding: 0;
  display: none;
}

main .tabs-group > .section.show {
  display: block;
}

main .tabs-group .tabs {
  display: flex;
  gap: 0.125rem;
  border-bottom: 0.625rem solid var(--teal);
  margin: 0 -0.9375rem 0.625rem;
  padding-inline: 0.9375rem;
}

/* Style the buttons inside the tab */
main .tabs-group .tabs button {
  all: unset;
  flex: 1;
  background-color: var(--white);
  border: 0.0625rem solid var(--very-light-gray);
  cursor: pointer;
  padding: 0.75rem 1.5625rem 0.5rem;
  border-top-left-radius: 0.3125rem;
  border-top-right-radius: 0.3125rem;
  font-size: 0.875rem;
  border-bottom: 0.3125rem;
  color: var(--teal);
}

main .tabs-group .tabs button:not(.active):hover {
  background-color: var(--white-smoke);
}

main .tabs-group .tabs button.active {
  background-color: var(--teal);
  color: white;
  border: none;
}

@media (width > 48rem) {
  main .tabs-group > .section {
    padding: 0.9375rem;
    border: 0.0625rem solid var(--teal);
  }

  main .tabs-group .tabs {
    gap: 0.625rem;
    margin: 0;
    padding-inline: 0;
  }

  main .tabs-group .tabs button {
    flex: none;
    font-size: 1rem;
  }
}

/* tab end */

/* tooltip */
main .tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

main .tooltip-content {
  visibility: hidden;
  width: 11.25rem;
  background-color: rgb(18 117 125 / 80%);
  color: #fff;
  line-height: 1.5;
  text-align: center;
  border-radius: 0.125rem 0.125rem 0.125rem 0;
  padding: 0.9375rem;
  position: absolute;
  z-index: 10;
  left: 100%;
  top: 50%;
  transform: translateY(-5%);
  opacity: 0;
  transition: opacity 0.3s;
  margin-left: 0.625rem;
}

main .tooltip-content::after {
  content: "";
  position: absolute;
  top: 0; /* Position the arrow near the top */
  left: -0.625rem;
  border-width: 0 0.625rem 0.625rem 0;
  border-style: solid;
  border-color: transparent rgb(18 117 125 / 80%) transparent transparent;
}

main .tooltip:hover .tooltip-content {
  visibility: visible;
  opacity: 1;
}

/* tooltip end */
