.styled-lists .list-columns {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  font-size: 0.875rem;
}

.styled-lists .list-columns p {
  font-size: 0.75rem;
}

.styled-lists.teal-background .list-columns {
  gap: 0;
}

.styled-lists .list-columns > div {
  flex: 1;
}

.styled-lists h3 {
  display: flex;
  color: var(--teal);
  gap: 0.3125rem;
  font-weight: var(--font-weight-normal);
  font-size: 1.25rem;
  align-items: center;
}

.styled-lists h3 span.icon {
  height: 2rem;
  width: 2rem;
  min-width: 2rem;
}

.styled-lists a.button:any-link {
  width: min-content;
  padding: 0.3125rem 2rem;
}

@media (width >= 48rem) {
  .styled-lists .list-columns p {
    font-size: 0.875rem;
  }
}

@media (width >= 62rem) {
  .styled-lists .list-columns {
    flex-direction: row;
    gap: 3.5rem;
  }
}

.styled-lists ul {
  list-style-type: none;
  padding: 0;
}

.styled-lists ul li {
  padding-left: 1.5rem;
  margin: 0.8rem 0;
  line-height: 1.2rem;
}

.styled-lists ul li.hidden {
  display: none;
}

.styled-lists.teal-background {
  background-color: var(--teal-light);
  padding: 1.25rem;
}

.styled-lists .show-more-btn {
  width: max-content;
  background: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0.25rem;
  gap: 0.5rem;
  margin-top: 1rem;
  color: var(--teal);
}

.styled-lists .show-more-btn.hidden {
  display: none;
}

.styled-lists .show-more-btn:hover,
.styled-lists .show-more-btn:focus {
  background: var(--teal-light);
}

.styled-lists .show-more-btn img {
  width: 1.3rem;
  height: 1.3rem;
}

.styled-lists .footnote {
  font-size: 0.6875rem;
  padding-top: 0.625rem;
}

.styled-lists .tooltip {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  padding: 0;
  width: 1.2rem;
  height: 1.2rem;
}
